 /* root variables */
:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  --lightGreen: #A6F1A6;
  --green: #1FB81F;
  --lightRed: #FBABAB;
  --red: #D91818;
  --lightGray: #666666;
  --black: #000000;
}

body{
  font-family: "Oswald", sans-serif !important; /* !important to make Bootstrap to use it - not to overwrite */
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{ /* ccs class*/
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem; /* rem, em - font-relative values */
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainBlue);
}

.text-bright{
  color: var(--lightBlue);
}

.crudButtons {
  text-align: right;
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 500px) {
  /* Center the Modal! */
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-body {
  padding-top: 0.25em;
}

._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}

.modal-button {
  text-transform: capitalize !important;
  font-size: 1.4rem !important;
  background: transparent !important;
  border-radius: 0.5rem !important;
  padding: 0.2rem 0.5rem !important;
  cursor: pointer !important;
  margin: 0.2rem 0.5rem 0.2rem 0 !important;
  transition: all 0.3s ease-in-out !important;
}

.modal-button.Add {
  border: 0.05rem solid var(--green) !important;
  color: var(--green) !important;
}

.modal-button.Add:hover {
  background: var(--green) !important;
  color: var(--mainWhite) !important;
}

.modal-button.Edit {
  border: 0.05rem solid var(--lightGray);
  color: var(--lightGray);
}

.modal-button.Edit:hover {
  background: var(--lightGray) !important;
  color: var(--mainWhite) !important;
}

.modal-button.Delete {
  border: 0.05rem solid var(--red);
  color: var(--red);
}

.modal-button.Delete:hover {
  background: var(--red) !important;
  color: var(--mainWhite) !important;
}

.modal-button:focus {
  outline: none !important;
}

.selected-row {
  background-color: yellow !important;
}

.btn-disable
{
cursor: not-allowed !important;
pointer-events: none !important;

/*Button disabled - CSS color class*/
color: #c0c0c0 !important;
background-color: #ffffff !important;
border: 0.05rem solid #ffffff !important;

}
